.container {
  margin-top: 10.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactText {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: var(--contact-text-color);
}

.buttonsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1.2rem;
}
