.linkItemText {
    font-style: normal;
    font-weight: var(--font-weight-base-light);
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--title-text-color);
    text-decoration: none;
}